.photos-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
}

.photos-block div {
  position: relative;
  display: inline-block;
}

.photos-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.photos-block div.zoomed {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.photos-block div.zoomed img {
  position: absolute;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  cursor: zoom-out;
  object-fit: contain;
}

.photos-block div > span {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.photos-block div:hover > span {
  visibility: visible;
  opacity: 1;
}
